# ==========================
# Backend (Python)
# ==========================
backend/.venv/
backend/venv/
backend/.env

__pycache__/
*.py[cod]

.mypy_cache/
.pytest_cache/

# ==========================
# Banco de Dados
# ==========================
*.db
*.db-wal
*.db-shm

# ==========================
# Frontend (Node)
# ==========================
frontend/node_modules/
frontend/dist/
frontend/.env

# ==========================
# IDEs
# ==========================
.vscode/
.idea/

# ==========================
# Logs
# ==========================
*.log